*{
  margin: 0px;
  padding: 0px;
  font-family: "Averta Std",sans-serif;

}

/* -------------------------------------section-1--------------------------- */
.section-1{
  display: flex;
  justify-content: center ;
  align-items: center;
  margin-top: 30px;
  margin-left: 170px;
}
.sec1-mainimg-logo, .sec1-pararespons, .sec1-spanrespons{
  display: none;
}
.sec1-textside{
  margin-top: 40px;
}
.sec1-boltlogo{
  height: 30px;
}
.sec1-headings h1{
  color:  #202127;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}
.sec1-paragraph{
  margin-top: 20px;
  color:#202127;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%; 
}

.sec1-main-img{
  width: 600px;
 
}
.sec1-inputcontainer{
  display: flex;
  margin-top: 40px;
}
.sec1-inputfield{
  padding: 16px 20px;
  display: flex;
  border-color: antiquewhite;
  border-radius: 8px;
  background-color:  #FAFBFC;
  border: 1px solid rgba(139, 139, 139, 0.30);
}
.sec1-input {
  background: #FAFBFC;
  border: none;
  padding: 0px 120px 0px 5px;
  color: #90939E;
  font-size: 16px;
  font-weight: 600;
}

.sec1-input-icon {
  width: 18px;
  height: 18px;
}
.sec1-btn {
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(45deg, #03C17D 0%, #97E81C 100%);
  padding: 16px 20px;
  border: none;
  color: white;
  margin-left: 10px;
}
.sec1-spantext{
  display: flex;
  margin-top: 20px;
  align-items: center;
  color:  #202127;
  font-size: 20px;
}
.sec1-spanpic{
  width: 65px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 35px;
} 
@media (min-width: 992px) and (max-width: 1200px){
  .sec1-main-img{
    width: 500px;
  }

}
@media (min-width: 500px) and (max-width: 992px){
  .sec1-main-img{
    width: 350px;
  }
  .sec1-headings h1{
    font-size: 40px;
  }
  .sec1-paragraph{
    font-size: 15px;
  }
  
  .sec1-input{
    padding: 0px 20px 0px 5px;
  }
  .sec1-btn{
    padding: 16px 10px;
  }
  .sec1-spantext{
    font-size: 15px;
  }
  .sec1-spanpic{
    margin-left: 5px;
    margin-right: 20px;
  } 
  .section1-spanimg{
    width: 80px;
  }
}
/* @media (min-width: 500px) and (max-width: 768px){
  .sec1-main-img{
    width: 250px;
  }
  .sec1-headings h1{
    font-size: 35px;
  }
  .sec1-paragraph{
    font-size: 15px;
  }
  
  .sec1-input{
    padding: 0px 10px 0px 5px;
  }
  .sec1-spantext{
    font-size: 15px;
  }
  .sec1-spanpic{
    margin-left: 5px;
    margin-right: 20px;
  } 
  .section1-spanimg{
    width: 80px;
  }
} */
@media (max-width: 500px){
  
  .sec1-boltlogo, .sec1-limitdefi, .sec1-paragraph, .sec1-spantext{
    display: none;
  }
  .sec1-mainimg-logo, .sec1-pararespons, .sec1-spanrespons{
    display: block;
  }
  .section-1{
    margin: 0px;
    /* background-color: red; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .sec1-mainimg-logo{
    width: 104px;
    height: 60px;
  }
  
  .sec1-right-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  .sec1-main-img{
    justify-content: center;
    width: 302px;
    height: 300px;
  }
  .sec1-headings h1{
    text-align: center;
    font-size: 35px;
  }
  .sec1-pararespons{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #202127;
  }
  .sec1-spanrespons{
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
  }
  .sec1-inputcontainer{
    flex-direction: column;
    display: flex;
    gap: 16px;
  }
  .sec1-input{
    width: 100px;
    /* max-width: 100%; */
    margin: 0px;
    display: flex;
    align-items: center;
  }
  .sec1-btn{
    width: 310px;
    max-width: 100%;
    margin: 0px;
    align-items: center;
  }
  
}




