*{
  margin: 0px;
  padding: 0px;
  font-family: "Averta Std",sans-serif;

}
/* -------------------------------------section-1--------------------------- */
.section-1{
  display: flex;
  justify-content: center ;
  align-items: center;
  margin-top: 30px;
  margin-left: 170px;
  /* overflow: hidden; */
}
.sec1-mainimg-logo{
  display: none;
}
.sec1-left-text{
  width: 800px;
}
.sec1-textside{
  margin-top: 40px;
}
.sec1-boltlogo{
  height: 30px;
}
.sec1-headings h1{
  /* margin-top: 20px; */
  color:  #202127;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}
.sec1-paragraph{
  margin-top: 20px;
  color:#202127;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%; 
}
.sec1-right-img{
  margin-right: 0px;
  /* background-color: black; */
  /* margin-bottom: 100px; */
}
.sec1-main-img{
  width: 600px;
  height: 590px;
  /* justify-content: flex-end; */
  /* align-items: center; */
}
.sec1-inputcontainer{
  display: flex;
  margin-top: 40px;
}
.sec1-inputfield{
  padding: 16px 20px;
  display: flex;
  border-color: antiquewhite;
  border-radius: 8px;
  background-color:  #FAFBFC;
  border: 1px solid rgba(139, 139, 139, 0.30);
}
.sec1-input {
  background: #FAFBFC;
  border: none;
  display: flex;
  padding: 0px 138px 0px 5px;
  color: #90939E;
  font-size: 16px;
  font-weight: 600;
}

.sec1-input-icon {
  width: 18px;
  height: 18px;
}
.sec1-btn {
  width: 100px;
  border-radius: 8px;
  background: linear-gradient(45deg, #03C17D 0%, #97E81C 100%);
  padding: 16px 4px;
  border: none;
  color: white;
  margin-left: 10px;
}
.sec1-spantext{
  display: flex;
  margin-top: 20px;
  align-items: center;
  color:  #202127;
  font-size: 20px;
}
.sec1-spanpic{
  width: 65px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 35px;
} 
