.secure-store-sec {
  background-color: $dark-color;
  position: relative;
  height: 100vh;


  &-privatekeys {
    padding-top: 20rem;
    margin-left: 13.625rem;

    &-1 {

      &-frames {
        display: flex;

        &-dimond {
          flex-direction: column;

          &-1text {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}