.secure-store-sec {
  background-color: $dark-color;
  position: relative;
  height: auto;
  padding-bottom: 10rem;


  &-privatekeys {
    padding-top: 20rem;
    margin-left: 8.625rem;

    &-1 {

      &-frames {
        display: flex;
        margin-top: 1rem;
        gap: 2rem;

        &-dimond {
          display: flex;
          flex-direction: column;
          justify-content: center;

          &-1text {
            color: var(--primary-color);
            text-align: center;
          }
        }

        &-innertext {
          display: flex;
          flex-direction: column;
          gap: .75rem;
          color: var(--primary-color-light);

          &-innermost {
            text-align: center;
          }

        }

        &-end-text {
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--primary-color-light);

          &-plusicon {
            width: 15px;
          }
        }

        &-innertext {
          &-chain {

            display: block;
            flex-direction: column;
            align-items: center;


            &-sending {
              margin-left: 2.625rem;
            }

            &-down span {
              color: var(--primary-color-light);
            }
          }

        }


      }
    }
  }
}